.flight-card {
    margin: 15px;
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .flight-card:hover {
    transform: scale(1.05);
  }
  
  .card {
    border: none;
    border-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 10px;
  }
  
  .card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    padding: 10px;
  }

 /*  */

 .flightForm{
 

 }